body{
  background-image: url("https://i.ibb.co/YQVHh1P/fondo-pokemon2.png");
  position: relative;
  width: 1350px;
  height:504px;
  background-attachment: fixed;
  margin: -10px -10px;
}
.pikachu{
  position: absolute;
  left: 80px;
  top: 20px;
}
.logo_pokemon{
  position: absolute;
  left: 530px;
  top: 20px;
}
.pokemonball{
  position: absolute;
  left: 1200px;
  top: 50px;
}
.container_welcome{
  position:absolute;
  height: 450px;
  width: 1270px;
  margin:200px 50px;
  border-radius: 20px;
  background-color:#3532CC;
}
.text_welcome{
  text-align: justify;
  position: absolute;
  left: 500px;
  right: 300px;
  top: 300px;
  color: yellow;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 20px;
}
.ash_boy{
  position: absolute;
  left: 150px;
  top: 280px;
}
#theme1{
  display: none;
}
#meet1{
  background-color: white;
  color: black;
    border-radius: 20px;
  float:right;
  margin: 550px 930px;
  position:absolute;
  padding: 10px 25px;
}
#meet1:hover {
background-color: yellow;
color: black;
}
